.nButton, .fButton
{
    background-color: rgb(66,66,66);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    width: 80px;
    height: 80px;
}

.fButton
{
    background-color:#969e9a;
}

.buttonpanel
{
    text-align: center;
}

.buttonseparator
{
    height: 4px;
}

#result
{
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 36px;
    resize: none;
    color: white;
}

body
{
    background-color: rgb(36,36,36);
}