.nButton, .fButton
{
    background-color: #01d87e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    width: 80px;
    height: 80px;
}

.fButton
{
    background-color:#969e9a;
}

.buttonpanel
{
    text-align: center;
}

.buttonseparator
{
    height: 4px;
}

#result
{
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 36px;
    resize: none;
}

.mainpanel
{
    background-color: bisque;
    width: auto;
    height: 500px;
}

body
{
    background: linear-gradient(#afffaf, #cfcfcf);
}

footer
{
    text-align: center;
    padding: 5px;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}