.leftpanel
{
    text-align: center;
    padding-left: 0%;
    width: 300px;
    height: 100%;
    color: #3f1d1d;
}

.toplink
{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    color:rgba(36,36,36,1);
    transition: color 0.2s ease-in-out;
}

.toplink:hover
{
    color:rgba(122,122,122,1);
}

header
{
    text-align: center;
}

body
{
    background: rgb(157,7,0);
    background: linear-gradient(0deg, rgba(36,36,36,1) 0%,rgba(36,36,36,1) 93%,rgba(105,20,16,1) 95%);
}