.leftpanel
{
    text-align: center;
    padding-left: 0%;
    width: 300px;
    height: 100%;
    color: #3f1d1d;
}

.toplink
{
transition: ease-in-out 0.2s;
font-size: 16px;
color:rgba(86,86,86,1);
}

body
{
    background: rgb(157,7,0);
    background: linear-gradient(0deg, rgba(36,36,36,1) 0%,rgba(36,36,36,1) 93%,rgba(105,20,16,1) 95%);
}