.leftpanel
{
    text-align: center;
    padding-left: 0%;
    width: 300px;
    height: 100%;
    color: #3f1d1d;
}

body
{
    background: rgb(157,7,0);
    background: linear-gradient(0deg, rgba(157,7,0,1) 0%, rgba(105,20,16,1) 18%, rgba(38,36,36,1) 91%);
}